%h1  Где я?
%h4 Идея сайта была придумана после N-го количества пива
%p Суть ее заключается взять переписку с одно чата некоторой IT компании и выложить в сеть
%p На написание этого сайта ушло примерно 4 дня, по этому не удивляетесь если что то не работает , это нормально)
%p Все настоящие имена заменены на вымышленные , текст переписки отличается от оригинально чтобы не пугал своей откровенностью
%p После авторизации вы получите возможность осталять комментарии а также ставить лайки.
%p
  Нас не интересует ваши персональные данные c соц сетей, мы будем использовать ваш емаил для отображение аватарок и имя в комментариях при помощи сервиса gravatar,
  %br
  никаких писем без вашего согласия мы высылать не будет

%p Если нам не понравится ваше поведение на нашем ресурсе, мы оставляем за собой право банить и редактировать ваши сообщения и тд без вашего уведомления
%p
  Если у вас есть претензии к сайту можете воспользоваться этой формой
  = link_to "написать нам", "#"

%p= link_to "На главную", :root, :class => "btn"