- if @start_date
  = link_to "Читать с начала", workday_path(@start_date), class: "fright btn"

= render :partial => "page"

- if prev = @workday.prev_date
  = link_to "Предыдущий день", workday_path(prev), class: "fleft btn"
.clear
= render :partial => "comments"
