= render :partial => "page"

- if prev_date = @workday.prev_date
  = link_to "Предыдущий день", workday_path(prev_date), class: "fleft btn"

- if next_date = @workday.next_date
  = link_to "Следуюий день", workday_path(next_date), class: "fright btn"
.clear