= render :partial => "page"

%ul.pager
  - if prev_date = @workday.prev_date
    %li.previous
      %a{:href => workday_path(prev_date)} ← Предыдущий день
  - if next_date = @workday.next_date
    %li.next
      %a{:href => workday_path(next_date)} Следуюий день →
.clear
= render :partial => "comments"